<div class="sec-title  text-center"><br/><br/><br/>
  <div class="sec-title-inner text-center">
      <h3><span>مسار تصحيح القراءة برواية حفص</span> </h3>
  </div>
 
</div>

  
<section>
  <div class="gap">
      <div class="container">
          <div class="hstry-wrap">
              <div class="row">
     <div class="hstry-desc">
                       
                          <h2>تصحيح قراءة سورة الفاتحة</h2></div>
                <!-- <div class="col-md-6 col-sm-12 col-lg-6">
                      <div class="hstry-img text-center">
                        <div class="centered" >الحمد لله رب العالمين</div>
                          <img src="../../assets/images/resources/FATIHAH.png" alt="hstry-img.png">
                      </div>-->
<!--    col 1-->
                  <div class="col-md-6 col-sm-12 col-lg-6">
                     
                        
                              <app-waveform #waveform></app-waveform>
                              <app-dialogflow></app-dialogflow>
                         
                  </div>   
<!--    col 2-->
                  <div class="col-md-6 col-sm-12 col-lg-6">
                      
                       
                          
                              <app-microphone [waveform]="waveform"></app-microphone>
                              
                          
                       
                  </div> 


      </div>
              </div>
          </div><!-- History Wrap -->
      </div>
  
</section>