<!--<div >
    <app-microphone [waveform]="waveform"></app-microphone>
    <app-waveform #waveform></app-waveform>
    <div >
        <h3>أعوذ بالله من الشيطان الرجيم</h3>
        <p>الاية
        </p>
        <p>
          اظغط على الزرّ وابدا التلاوة 
        </p>
     </div>
    <app-dialogflow></app-dialogflow>
    <div >-->
        <div class="container" >
            <div class="sec-title  text-center"><br/><br/><br/>
                <div class="sec-title-inner text-center">
                    <h3><span>مسار تصحيح القراءة</span> </h3>
                </div>
               
              </div>
              
<div class="row">

<div class="sec-title-inner2">
    <strong><span>تفضّل باختيار الرّواية</span></strong>
         
    




</div>
</div>
<!--<div class="row">
<div class="col-6">   <button class="btn btn-info btn-lg" style="width:30%;height: 100%;" routerLink="/hafs"  href="" pageScroll [pageScrollInView]="false" id="hafs">
 حفص
</button></div>
<div class="col-6">   <button class="btn btn-info btn-lg" style="width:30%;height: 100%;" routerLink="/kaloun"  href="" pageScroll [pageScrollInView]="false" id="kaloun">
   قالون
</button></div>
</div>-->
        </div>
  <div class="serv-wrap text-center remove-ext3">
<!--row 1-->              
			  <div class="row">
                    <div class="col-md-6 col-sm-6 col-lg-3">
                        <div class="srv-box2">
                            <i class="flaticon-quran-rehal"></i>
                            <div class="srv-info2">
                                <h4>حفص</h4>
                                <P></P>
                              
                            </div>
							 <a  routerLink="/hafs"  href="" pageScroll [pageScrollInView]="false" id="hafs" title="">تأكيد الاختيار<i class="flaticon-left-arrow"></i></a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-3">
                        <div class="srv-box2">
                            <i class="flaticon-heart-1"></i>
                            <div class="srv-info2">
                                <h4>قالون </h4>
                                <p></p>
                            
                            </div>
							 <a routerLink="/kaloun"  href="" pageScroll [pageScrollInView]="false" id="kaloun" title="">تأكيد الاختيار<i class="flaticon-left-arrow"></i></a>
                        </div>
                    </div>
					</div></div>