
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ssd-primary: mat-palette($mat-indigo);
$ssd-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ssd-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$ssd-theme: mat-light-theme($ssd-primary, $ssd-accent, $ssd-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($ssd-theme);


@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px) 
and (-webkit-device-pixel-ratio : 3)
and (orientation : portrait) {
    .card {
        font-size: 100% !important;
        line-height: 160% !important;
        padding: 20px !important;
        margin: 20px 0 !important;
    }
}

/* You can add global styles to this file, and also import other style files */
*, *:before, *:after
{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


html, body
{
    width: 100% !important;
    height: 100% !important;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background: transparent;
    color: #7e7e7e;
    overflow: hidden;
}


:host {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}


.spacer {
    flex: 1;
}

.btn {
    background-color: #38ab1e;
    color: white;
    font-weight: 600;
    height: 80px;
    width: 100%;
    border: 1px solid #000;
    box-shadow: 2px rgba(0,0,0,1);
    border-radius: 8px;

    svg {
        fill: white;
    }

    span {
        font-size: 140%;
    }
}

.btn:disabled {
    background-color: #5c7557;
    color: #fff;
    cursor: not-allowed;
    
    svg {
        fill: #f8fdf7 !important;  
    }
}

.btn:hover {
    text-decoration: none;
    background-color: #226712;
    color: #fff;
    svg {
        fill: #fff !important;  
    }
}
.btn:disabled :hover {
    background-color: #303330;
    color: #fff;
    cursor: not-allowed;
    
    svg {
        fill: #f8fdf7 !important;  
    }
}

.card {
    border: 1px solid #000;
    box-shadow: 4px rgba(0,0,0,1);
    color: #fff;
    padding: 40px;
    font-size: 150%;
    line-height: 220%;
    border-radius: 19px;
    background: #2c2c2c;
    justify-content: center;
    align-items: center;
    margin: 0 0 40px 0;

    h3 {
        margin: 0;
    }

    .card-inner {
        max-width: 1200px;
    }
}

.endsession {
    position: absolute;
    height: 100%;
    display: block;
    width: 410px;

    .btn {
        position: absolute;
        bottom: 300px;
        z-index: 1;
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

