<div class="sec-title"><br/><br/><br/>
    <div class="sec-title-inner text-center">
        <h3><span>مسار تصحيح التلاوة</span> </h3>
    </div>
   
  </div>
  <table mdbTable borderless="true" style="align-content: center;">
    <thead>
      <tr>
        <th  colspan=5><button type="button" style="width: 100%;" class="btn btn-secondary btn-lg btn-block">اختر واحدة من الروايات العشر</button>
        </th>
      </tr>
    </thead>
    <tbody>
  <!--<tr mdbTableCol *ngFor="let el of elements">
        <button>
            {{el.soura}}
        </button>{{el.id}}
        <td>{{el.first}}</td>
        <td>{{el.last}}</td>
        <td>{{el.handle}}</td>
      </tr>-->    
      <tr>
          <td><button    style="width: 100%;" class="btn btn-success btn-lg"  href=""  href="" routerLink="/tashihTilawa" pageScroll [pageScrollInView]="false" id="hafs_tilawa" >حفص</button></td>
          <td><button    style="width: 100%;" class="btn btn-success btn-lg" disabled="true">قالون</button></td>
          <td><button    style="width: 100%;"  class="btn btn-success btn-lg" disabled="true">ورش</button></td>
          <td><button    style="width: 100%;" class="btn btn-success btn-lg" disabled="true">قنبل</button></td>
          <td><button    style="width: 100%;" class="btn btn-success btn-lg" disabled="true">حمزة</button></td>
      </tr>
      <tr>
        <td><button     style="width: 100%;" class="btn btn-success btn-lg" disabled="true">الدوري</button></td>
        <td><button     style="width: 100%;" class="btn btn-success btn-lg" disabled="true">السوسي</button></td>
        <td><button     style="width: 100%;" class="btn btn-success btn-lg"  disabled="true">خلف</button></td>
        <td><button    style="width: 100%;"  class="btn btn-success btn-lg" disabled="true">البزي</button></td>
        <td><button    style="width: 100%;"  class="btn btn-success btn-lg" disabled="true">ابن ذكوان
</button></td>
    </tr>
     
    
    </tbody>
  </table>
  
