<header class="style2">
    <div class="container">
        <div class="logo"><a  routerlink="/"  href="#head"  title="Logo"><img src="assets/images/logo3.png" alt="logo3.png"></a></div>
        
        <nav>
            <div>
                
                <ul>
                    <li ><a href="" routerLink="/" pageScroll [pageScrollInView]="false" title="">الصفحة الرئيسية</a>
                      
                    </li>
                  
                    <li><a routerLink='/kiraa' href="" title="" pageScroll [pageScrollInView]="false">مسار تصحيح القراءة
                    </a></li>
                    <li><a href="" routerLink="/tilawa" title="" pageScroll [pageScrollInView]="false">مسار تصحيح التّلاوة</a></li>
                    <li ><a href="" routerLink="/ijaza" title="" pageScroll [pageScrollInView]="false" title="">همّة حتّى القمّة
                </a>      </li>
                    <li><a href="" title="">اتصل بنا</a></li>
                </ul>
            </div>
        </nav>
    
            
          <!--    <mat-tab-group (selectedTabChange)="tabChange($event)" [selectedIndex]="currentTabIndex">
                <mat-tab *ngFor="let link of links" label="{{ link.name }}"></mat-tab>
              </mat-tab-group>
        Routed views go here -->



<!--
            <div>
                <ul>
                    <li><a routerlink="/" title="">الصفحة الرئيسية</a>
            
                    </li>
                </ul>
            
                <ul>
                    <li><a href="event.html" title="">تصحيح القراْة</a></li>
                </ul>
            
                <ul>
                    <li><a href="crowd-funding.html" title="">تصحيح التلاوة</a></li>
                </ul>
                <ul>
                    <li><a href="#" title="">همّة حتى القمّة</a>
            
                    </li>
            
                </ul>
            </div>-->
        
    </div>
</header><!-- Header -->
<div class="rspn-hdr">
    <div class="rspn-mdbr">
       
       
    </div>
    <div class="lg-mn">
        <div class="logo"><a href="index.html" title="Logo"><img src="assets/images/logo2.png" alt="logo2.png"></a></div>
        <div class="rspn-cnt">
            <span><i class="fa fa-envelope thm-clr"></i><a href="#" title="">ahlQuran@gmail.com</a></span>
            <span><i class="fa fa-phone thm-clr"></i>+(00) 123-345-11</span>
        </div>
        <span class="rspn-mnu-btn"><i class="fa fa-list-ul"></i></span>
    </div>
    <div class="rsnp-mnu">
        <span class="rspn-mnu-cls"><i class="fa fa-times"></i></span>
        <ul>
                    <li class="menu-item-has-children"><a href="#" title="">الصفحة الرئيسية</a>
                    
                    </li>
                    <li class="menu-item-has-children"><a href="#" title="">مسار تصحيح القراءة</a>
                       
                    </li>
                    <li><a href="event.html" title="">مسار تصحيح التلاوة</a></li>
                    <li><a href="crowd-funding.html" title="">تبرع</a></li>
                    <li class="menu-item-has-children"><a href="#" title="">همّة حتّى القمّة(إجازة)</a>
            
                    </li>
                    <li><a href="about.html" title="">معلومات عنا</a></li>
                    <li><a href="contact.html" title="">اتصل بنا</a></li>
                </ul>
    </div><!-- Responsive Menu -->
</div><!-- Responsive Header -->


