
<table mdbTable borderless="true">
  <thead>
    <tr>
      <th  colspan=5><button type="button" style="width:100%" class="btn btn-secondary btn-lg btn-block">اختر سورة</button>
      </th>
    </tr>
  </thead>
  <tbody>
<!--<tr mdbTableCol *ngFor="let el of elements">
      <button>
          {{el.soura}}
      </button>{{el.id}}
      <td>{{el.first}}</td>
      <td>{{el.last}}</td>
      <td>{{el.handle}}</td>
    </tr>-->    
    <tr>
      <td><button  routerLink="/tashih/alfatihah"  style="width: 100%;height: 100%;" class="btn btn-success btn-lg"  href="" routerLink="/tashih" pageScroll [pageScrollInView]="false" id="demoScroll1">الفاتحة</button></td>
      <td><button  routerLink="/tashih/alfatihah" style="width: 100%;" class="btn btn-success btn-lg" disabled="true">البقرة</button></td>
      <td><button  routerLink="/tashih/alfatihah" style="width: 100%;"  class="btn btn-success btn-lg" disabled="true">--</button></td>
      <td><button  routerLink="/tashih/alfatihah" style="width: 100%;" class="btn btn-success btn-lg" disabled="true">--</button></td>
      <td><button  routerLink="/tashih/alfatihah" style="width: 100%;" class="btn btn-success btn-lg" disabled="true">--</button></td>
  </tr>
  <tr>
    <td><button  routerLink="/tashih/alfatihah"  style="width: 100%;" class="btn btn-success btn-lg" disabled="true">--</button></td>
    <td><button  routerLink="/tashih/alfatihah"  style="width: 100%;" class="btn btn-success btn-lg" disabled="true">--</button></td>
    <td><button  routerLink="/tashih/alfatihah"  style="width: 100%;" class="btn btn-success btn-lg"  disabled="true">--</button></td>
    <td><button  routerLink="/tashih/alfatihah" style="width: 100%;"  class="btn btn-success btn-lg" disabled="true">--</button></td>
    <td><button  routerLink="/tashih/alfatihah" style="width: 100%;"  class="btn btn-success btn-lg" disabled="true">--</button></td>
</tr>
  <tr>
      <td><button  routerLink="/tashih/alfatihah" style="width: 100%;"  class="btn btn-success btn-lg" disabled="true">--</button></td>
      <td><button  routerLink="/tashih/alfatihah"  style="width: 100%;" class="btn btn-success btn-lg" disabled="true">--</button></td>
      <td><button  routerLink="/tashih/alfatihah" style="width: 100%;" class="btn btn-success btn-lg" disabled="true">--</button></td>
      <td><button  routerLink="/tashih/alfatihah" style="width: 100%;"  class="btn btn-success btn-lg" disabled="true">--</button></td>
      <td><button  routerLink="/tashih/alfatihah" style="width: 100%;" class="btn btn-success btn-lg"  disabled="true">--</button></td>
  </tr>
  <tr>
    <td><button  routerLink="/tashih/alfatihah"  style="width: 100%;" class="btn btn-success btn-lg" disabled="true">--</button></td>
    <td><button  routerLink="/tashih/alfatihah" style="width: 100%;"  class="btn btn-success btn-lg" disabled="true">--</button></td>
    <td><button  routerLink="/tashih/alfatihah" style="width: 100%;"  class="btn btn-success btn-lg"  disabled="true">--</button></td>
    <td><button  routerLink="/tashih/alfatihah" style="width: 100%;"  class="btn btn-success btn-lg" disabled="true">--</button></td>
    <td><button  routerLink="/tashih/alfatihah"  style="width: 100%;" class="btn btn-success btn-lg" disabled="true">--</button></td>
</tr>
<tr>
    <td><button  routerLink="/tashih/alfatihah"  style="width: 100%;" class="btn btn-success btn-lg"  disabled="true">--</button></td>
    <td><button  routerLink="/tashih/alfatihah"  style="width: 100%;" class="btn btn-success btn-lg" disabled="true">--</button></td>
    <td><button  routerLink="/tashih/alfatihah"  style="width: 100%;" class="btn btn-success btn-lg" disabled="true">--</button></td>
    <td><button  routerLink="/tashih/alfatihah"  style="width: 100%;" class="btn btn-success btn-lg" disabled="true">--</button></td>
    <td><button  routerLink="/tashih/alfatihah"  style="width: 100%;" class="btn btn-success btn-lg" disabled="true">الناس</button></td>
</tr>

  
  </tbody>
</table>
