<footer>
    <div class="gap top-spac70 drk-bg2 remove-bottom">
        <div class="container">
         <!-- Footer Data -->
            <div class="bottom-bar">
                <p>حقوق الطبع والنشر 2021جميع الحقوق محفوظة.</p>
                <div class="scl">
أهل القرآن
                </div>
            </div><!-- Bottom Bar -->
        </div>
    </div>
</footer>

