

      <div class="container">
            <img width="100%" height="40%" src='../../assets/images/resources/slide2-1.jpg'>
                     
         
                      <section>
                        <div class="gap remove-gap three-block-section text-center">
                          <div class="sec-title"><br/><br/><br/>
                            <div class="sec-title-inner text-center">
                                <h3><span>مساراتنا</span> </h3>
                            </div>
                           
                        </div>
                            <div class="fea-car text-center">
                                <div class="row mrg">
                                    <div class="col-md-4 col-sm-6 col-lg-4">
                                        <div class="fea-itm" style="background-image: url(assets/images/resources/fea-img1.jpg);">
                                            <i class="flaticon-reading-quran"></i>
                                            <div class="fea-info2">
                                                <h4>مسار تسميع القراءة</h4>
                                                <p>قال رسول الله صلّى الله عليه و سلّم : خيركم من تعلّم القرآن و علّمه</p>
                                                <a href="" routerLink="/kiraa" title="" pageScroll [pageScrollInView]="false">تسميع القراءة</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-lg-4">
                                        <div class="fea-itm" style="background-image: url(assets/images/resources/fea-img2.jpg);">
                                            <i class="flaticon-museum"></i>
                                            <div class="fea-info2">
                                                <h4>همّة حتّى القمّة (إجازة)</h4>
                                                <p>قال الله تعالى:"إِنَّ الَّذِينَ يَتْلُونَ كِتَابَ اللَّهِ وَأَقَامُوا الصَّلَاةَ وَأَنفَقُوا مِمَّا رَزَقْنَاهُمْ سِرًّا وَعَلَانِيَةً يَرْجُونَ تِجَارَةً لَّن تَبُورَ " فاطر (29)
                                                </p>
                                                <a href="" routerLink="/ijaza" pageScroll [pageScrollInView]="false" title="">قراءة المزيد</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-lg-4">
                                        <div class="fea-itm" style="background-image: url(assets/images/resources/fea-img3.jpg);">
                                            <i class="flaticon-heart-1"></i>
                                            <div class="fea-info2">
                                                <h4>مسار تسميع التّلاوة</h4>
                                                <p>قال الله تعالى:الَّذِينَ آتَيْنَاهُمُ الْكِتَابَ يَتْلُونَهُ حَقَّ تِلَاوَتِهِ أُولَٰئِكَ يُؤْمِنُونَ بِهِ ۗ وَمَن يَكْفُرْ بِهِ فَأُولَٰئِكَ هُمُ الْخَاسِرُونَ (121)</p>
                                                <a href="" routerLink= "/tilawa" pageScroll [pageScrollInView]="false" title="">قراءة المزيد</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                  </div>