<div class="sec-title"><br/><br/><br/>
    <div class="sec-title-inner text-center">
        <h3><span>مسار تصحيح التلاوة</span> </h3>
    </div>
   
  </div>
  <table mdbTable borderless="true" style="align-content: center;">
    <thead>
      <tr>
        <th  colspan=2><button type="button" style="width: 100%;" class="btn btn-secondary btn-lg btn-block">اختر السورة</button>
        </th>
      </tr>
    </thead>
    <tbody>
  <!--<tr mdbTableCol *ngFor="let el of elements">
        <button>
            {{el.soura}}
        </button>{{el.id}}
        <td>{{el.first}}</td>
        <td>{{el.last}}</td>
        <td>{{el.handle}}</td>
      </tr>-->    
      <tr>
          <td><button    style="width: 100%;height: 200%;" class="btn btn-success btn-lg"  href="" routerLink="/tashih-tilawa-fatiha" pageScroll [pageScrollInView]="false" id="tfat" >الفاتحة</button></td>
          <td><button    style="width: 100%;height: 200%;" class="btn btn-success btn-lg" disabled="true">جزء عمّ</button></td>
         
      </tr>
      
     
    
    </tbody>
  </table>
  

