<div class="sec-title  text-center"><br/><br/><br/>
    <div class="sec-title-inner text-center">
        <h3><span> مسار تصحيح التلاوةرواية حفصل : سورة الفاتحة</span> </h3>
    </div>
   
  </div>
  
    
        <section>
          <div class="gap">
              <div class="container">
                  <div class="hstry-wrap">
                      <div class="row">
                      <!--<div class="col-md-6 col-sm-12 col-lg-6">
                              <div class="hstry-img text-center">
                                <div class="centered" #eya>الحمد لله رب العالمين</div>
                                  <img src="../../assets/images/resources/FATIHAH1.png" alt="hstry-img.png">
                              </div>
                          </div>-->   
                          <div class="col-md-4 col-sm-12 col-lg-6">
                              <div class="hstry-desc">
                               
                                  
                                      <app-microphone [waveform]="waveform"></app-microphone>
                                      
                                  
                               
                              </div>
                          </div>
                          <div class="col-md-4 col-sm-12 col-lg-6">
                            <div class="hstry-desc">
                             
                                
                                     
                                    <app-waveform #waveform></app-waveform>
                                    <app-dialogflow></app-dialogflow>
                                
                             
                            </div>
                        </div> <div class="col-md-4 col-sm-12 col-lg-6">
                            <div class="serv-wrap text-center remove-ext3">
                                <!--row 1-->              
                                              <div class="row">
                                                    <div class="col-md-6 col-sm-6 col-lg-3">
                                                        <div class="srv-box2">
                                                            <i class="flaticon-quran-rehal"></i>
                                                            <div class="srv-info2">
                                                                <h4>المدود</h4>
                                                                <P>(٤)</P>
                                                              
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6 col-lg-3">
                                                        <div class="srv-box2">
                                                            <i class="flaticon-heart-1"></i>
                                                            <div class="srv-info2">
                                                                <h4>الغنن </h4>
                                                                <p>(٦)</p>
                                                            
                                                            </div>
                                                        </div>
                                                    </div>
                                                    </div>
                                                    <!--row 2-->
                                                    <div class="row">
                                                    <div class="col-md-6 col-sm-6 col-lg-3">
                                                        <div class="srv-box2">
                                                            <i class="flaticon-mosque"></i>
                                                            <div class="srv-info2">
                                                                <h4>الإدغام </h4>
                                                               <p>(٢)</p>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6 col-lg-3">
                                                        <div class="srv-box2">
                                                            <i class="flaticon-social-care"></i>
                                                            <div class="srv-info2">
                                                                <h4>التّنوين                                </h4>
                                <p>(١)</p>                             
                                                            </div>
                                                        </div>
                                                    </div>
                                                    </div>
                                                    
                                                    <!--row 3-->
                                                        <div class="row">
                                                    <div class="col-md-6 col-sm-6 col-lg-3">
                                                        <div class="srv-box2">
                                                            <i class="flaticon-mosque"></i>
                                                            <div class="srv-info2">
                                                                <h4>الاقلاب</h4>
                                                               <p>(١)</p>
                                                                <a href="" title="">عرض المزيد<i class="flaticon-left-arrow"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6 col-lg-3">
                                                        <div class="srv-box2">
                                                            <i class="flaticon-social-care"></i>
                                                            <div class="srv-info2">
                                                                <h4>القلقلة                                 </h4>
                                <p>(٢)</p>                              
                                                            </div>
                                                        </div>
                                                    </div>
                                                    </div>
                                                        <!--row 4-->
                                                        <div class="row">
                                                    <div class="col-md-6 col-sm-6 col-lg-3">
                                                        <div class="srv-box2">
                                                            <i class="flaticon-mosque"></i>
                                                            <div class="srv-info2">
                                                                <h4>الاخفاء</h4>
                                                               <p>(٣)</p>
                                                                <a href="" title="">عرض المزيد<i class="flaticon-left-arrow"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 col-sm-6 col-lg-3">
                                                        <div class="srv-box2">
                                                            <i class="flaticon-social-care"></i>
                                                            <div class="srv-info2">
                                                                <h4>الإظهار                                 </h4>
                                <p>(١)</p>                              
                                                            </div>
                                                        </div>
                                                    </div>
                                                    </div>
                                                </div>
                                            
                        </div>
                      </div>
                  </div><!-- History Wrap -->
              </div>
          </div>
      </section>