<div class="sec-title  text-center"><br/><br/><br/>
    <div class="sec-title-inner text-center">
        <h3><span>همّة حتّى القمّة</span> </h3>
    </div>
   
  </div>

  <section>
    <div class="gap">
        <div class="container">
            <div class="sec-title2 text-center">
                <div class="sec-title-inner2">
                    <h4>قال الله تعالى :    ( وَفِي ذَلِكَ فَلْيَتَنَافَسِ الْمُتَنَافِسُونَ ) 
                    </h4>
<span>قال رسول الله صلّى الله عليه وسلّم :
    «لَا حَسَدَ إِلَّا فِي اثْنَتَيْنِ، رَجُلٌ آتَاهُ اللَّهُ الْقُرْآنَ، فَهُوَ يَقُومُ بِهِ آنَاءَ اللَّيْلِ، وَآنَاءَ النَّهَارِ، وَرَجُلٌ آتَاهُ اللَّهُ مَالًا، فَهُوَ يُنْفِقُهُ آنَاءَ اللَّيْلِ، وَآنَاءَ النَّهَارِ»

</span>                  
                </div>
            </div>
            <div class="serv-wrap text-center remove-ext3">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-lg-3">
                        <div class="srv-box2">
                            <i class="flaticon-quran-rehal"></i>
                            <div class="srv-info2">
                                <h4>توثيق اجازة</h4>
                                <P>بلوكشين</P>
                                <a href="#" title="">عرض المزيد<i class="flaticon-left-arrow"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-lg-3">
                        <div class="srv-box2">
                            <i class="flaticon-heart-1"></i>
                            <div class="srv-info2">
                                <h4>تحديد موعد</h4>
                                <p>اختبار للاجازة</p>
                                <a href="#" title="">عرض المزيد<i class="flaticon-left-arrow"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-lg-3">
                        <div class="srv-box2">
                            <i class="flaticon-mosque"></i>
                            <div class="srv-info2">
                                <h4>المجازين حول العالم</h4>
                               <p>(٢٣٧٦)</p>
                                <a href="" title="">عرض المزيد<i class="flaticon-left-arrow"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-lg-3">
                        <div class="srv-box2">
                            <i class="flaticon-social-care"></i>
                            <div class="srv-info2">
                                <h4>المجازين من حولك                                 </h4>
<p>تتطلّب تفعيل الموقع</p>                                <a href="#" title="">عرض المزيد<i class="flaticon-left-arrow"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- Serv Wrap -->
            <div class="view-all text-center">
                <a class="thm-btn brd-rd5" href="#" title="">عرض المزيد</a>
            </div><!-- View All -->
        </div>
    </div>
</section>
