

<button type="button" id="b1" class="thm-btn brd-rd5 trs-btn" *ngIf="stopped"  (click)="decln();">
   
   <mat-icon	 color = 'green' id='i1'>mic</mat-icon>
   <span id="s1"></span>
</button>


<button	 type="button" id="b1" class="thm-btn brd-rd5 trs-btn"  *ngIf="started" (click)="decln();">
    <mat-icon color = 'green' id='i1'>pause</mat-icon>
    <span id="s1"></span>
</button>
<!--<button type="button" class="thm-btn brd-rd5" (click)="reset();">-->

    



